* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color:#222831;

}
.heading{
    color: white;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}

.toolbox-cont {
    height: 5rem;
    background-color: #1B2430;
    display: flex;
    align-items: center;
}

.toolbox-cont>* {
    margin-left: 4rem;
    border-radius: 3px;
}

.toolbox-priority-cont {
    height: 3.5rem;
    width: 16rem;
    background-color: #57606f;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.action-btn-cont {
    height: 3.5rem;
    width: 8rem;
    background-color: #57606f;
    display: flex;


}

.action-btn-cont>* {
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.color {
    height: 1.5rem;
    width: 3rem;
    border: 5px solid;
    border-radius: 2px;

}

.one {
    background-color: #DFBB9D;
    border-color: #DFBB9D;
}

.two {
    background-color: #F7E2D6;
    border-color: #F7E2D6;
}

.three {
    background-color: #9DD6DF;
    border-color: #9DD6DF;

}

.four {
    background-color: #A084CF;
    border-color: #A084CF;
}

.action-btn-cont>*:hover {
    background-color: #88a2cf;
    border-radius: 0.2rem;

}
.toolbox-priority-cont>*:hover {
    border-color: #1B2430;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 2rem;
    justify-content: center;
 }

.modal {
    width: 45vw;
    height: 50vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
    border-radius: 2px;

}

.text-area {
    height: 100%;
    width: 80%;
    border: none;
    outline: none;
    resize: none;
    background-color: #1B2430;
    padding: 2rem;
    font-size: 1.5rem;
    color: white;
    


}

.priority-container-color {
    height: 100%;
    width: 20%;
    background-color: #57606f;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 2px;
    align-items: center;
}

.priority-color {
    height: 3rem;
    width: 55%;
    border-radius: 2px;
}

.border {
    border: 5px solid #1B2430;
}

.ticket {
    height: 14rem;
    width: 16rem;
    background-color: #57606f;
    color: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    
}

.ticket-color {
    height: 1rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

}

.ticket-id {
    height: 2rem;

    padding: 0.4rem;

}

.task {
    height: calc(100% - 1rem - 2rem - 2rem);
    width: 100%;
    padding: 0.5rem;
    outline: none;
}

.lock {

    height: 2rem;
    display: flex;
    justify-content: end;
    font-size: 1.5rem;
    padding-right: 0.4rem;

}
.highlighter{
    background-color: #88a2cf;
    border-radius: 0.2rem;
}